<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>SchoolApp</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<context-param>
		<param-name>Name</param-name>
		<param-value>HefShine</param-value>
	</context-param>
	<servlet>
		<description></description>
		<display-name>Feb</display-name>
		<servlet-name>Feb</servlet-name>
		<servlet-class>com.hefshine.servlet.Feb</servlet-class>
		<init-param>
			<param-name>Teacher</param-name>
			<param-value>No</param-value>			
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>Feb</servlet-name>
		<url-pattern>/Feb</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>March</display-name>
		<servlet-name>March</servlet-name>
		<servlet-class>com.hefshine.servlet.March</servlet-class>
		<init-param>
			<param-name>Teacher</param-name>
			<param-value>Snehali</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>March</servlet-name>
		<url-pattern>/March</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>April</display-name>
		<servlet-name>April</servlet-name>
		<servlet-class>com.hefshine.servlet.April</servlet-class>
		<init-param>
			<param-name>Teacher</param-name>
			<param-value>Palak</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>April</servlet-name>
		<url-pattern>/April</url-pattern>
	</servlet-mapping>
</web-app>